<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adi.gjm_app" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">

        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UpdateCheckActivity">
            <intent-filter>
                <action android:name="com.example.adi.gjm_app.UpdateCheckActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OfflineWarningActivity">
            <intent-filter>
                <action android:name="com.example.adi.gjm_app.OfflineWarningActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProductListActivity">
            <intent-filter>
                <action android:name="com.example.adi.gjm_app.ProductListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProductDetailActivity">
            <intent-filter>
                <action android:name="com.example.adi.gjm_app.ProductDetailActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProductSearchActivity">
            <intent-filter>
                <action android:name="com.example.adi.gjm_app.ProductSearchActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProductFilterActivity">
            <intent-filter>
                <action android:name="com.example.adi.gjm_app.ProductFilterActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewsListActivity">
            <intent-filter>
                <action android:name="com.example.adi.gjm_app.NewsListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewsDetailActivity">
            <intent-filter>
                <action android:name="com.example.adi.gjm_app.NewsDetailActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity">
            <intent-filter>
                <action android:name="com.example.adi.gjm_app.SettingsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
